@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif
}

.baradmin {
  position: fixed;
  width: 300px;
  left: 0;
  height: 100%;
  background: #1e1e1e;
}

.baradmin .logo {
  max-width: 140px;
  max-height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.baradmin .content {
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-left: 5px solid transparent;
}

.baradmin .content:hover {
  border-left: 5px solid #e1a543;
  color: #e1a543;
}

.baradmin .content:hover .icon,
.baradmin .content:hover .name {
  color: #e1a543;
}

.baradmin .content .icon {
  font-size: 23px;
  color: white;
  margin-right: 16px;
}

.baradmin .content .name {
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.menu,
.baradmin .header .bars {
  display: none;
}

@media (max-width: 1300px) {


  .baradmin {
    width: 100%;
    position: relative;
    height: auto;

  }

  .warpper .logo {
    margin: 0;
  }

  .baradmin .menu:checked~.warpper .content {
    display: block;

  }

  .header {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .baradmin .header .bars {
    display: inline;
    font-size: 23px;
    cursor: pointer;
    color: white;
    height: 100%;
    line-height: 65px;
    margin-left: auto;
    margin-right: 20px;
  }



  .baradmin .warpper {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }

  .menu:checked+.warpper .content {
    display: block;
  }

  .baradmin .content {
    display: none;
  }
}